:root {
  --color-principal: #E4007C;
  --color-secundario: #F7F7FF;
  --color-terciario: #212529;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-terciario);
}
body{
    background-color: var(--color-principal);
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-terciario);
}
.header_content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: .3em;
}
.header_content img{
    background-color: var(--color-secundario);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
input[type ="radio"] {
    accent-color: var(--color-principal);
    pointer-events: none;    
}
label{
    font-weight: normal;
    color: var(--color-principal);
}
/* ---------------------------------------INFORMACION DEL DM */
.dm_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secundario);
    margin-top: 5%;
    max-height: 220px;
    border-radius: 25px;
}
.dm_info{
    padding: 1em;
}
.td_radio{
    text-align: center;
}
/* ---------------------------------------INFORMACION DEL SE/CAE */
.secae_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secundario);
    padding: .5em;
    max-height: 150px;
    border-radius: 25px;
}
.are_zore{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

/* -----------------------------------------CAROUSSEL */
.carrusel_content {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: 0;
    > * {
      flex: 0 0 100%;
    }
  }
  .card {
    max-height: 100%;
    margin-top: auto;
  }
  .group {
    display: flex;
    will-change: transform;
    animation: scrolling 20s linear infinite;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }