:root {
  --color-principal: #E4007C;
  --color-secundario: #F7F7FF;
  --color-terciario: #212529;
}
/* -------------------------------------------DISPOSITIVOS MOVILES */
@media only screen and (max-width: 480px) {
    .header_content img{
        max-height: 30px;
        padding: .3em;
    }
    .h1 {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 1.5em;
        font-weight: 900;
        color: var(--color-terciario);
    }
    .sgdm_label{
        font-size: .5em;
        color: var(--color-terciario);
    }
    /* ---------------------------------------INFORMACION DEL DM */
    .dm_content{
        width: 90%;
        max-height: 170px;
        margin-top: 7%;
        justify-content: center;
    }
    .dm_photo img{
        max-height: 200px;
    }
    h3{
        font-size: .8em;
    }
    h5{
        font-size: .6em;
    }
    table {
        font-size: .6em;
        font-weight: bold;
    }
    /* ---------------------------------------INFORMACION DEL CAE/SE */
    .secae_info{
        width: 60%;
    }
    .secae_photo{
        width: 30%;
    }
    .secae_photo img{
        width: 100%;
    }
    .secae_content{
        margin-top: 8%;
        width: 90%;
    }
    /* ----------------------------------------CORRUSEL */
    .carrusel_content{
        height: 35%;
    }
}
/* ----------------------------------------CELULARES GRANDES TABLETS PEQUEÑAS */
@media only screen and (min-height: 700px) {
    .carrusel_content{
        height: 45%;
    }
}
/* -------------------------------------------TABLETS */
@media screen and (min-width: 576px){
    body {
        background-color: blue;
    }
}
/* -------------------------------------------PC*/
@media screen and (min-width: 992px){
    body {
        background-color: yellow;
    }
}